@media only screen and (max-width: 768px) {
    .header__top {
        margin-bottom: 20px;
    }
    .sms-default {
        margin-right: 30px;
    }
    .select-currency ,
    .select-lang {
        display: none !important;
    }
    .hd-item {
        padding-top: 18px;
    }
    .main-menu > ul {
        padding: 0;
    }
    .main-menu__item {
        padding-top: 8px;
    }
    .main-menu__link {
        padding-top: 4px;
        padding-bottom: 4px;
        font-size: 15px;
        letter-spacing: normal;
    }
    .search-box {
        display: none;
    }
    .cart__basket {
        left: -50px;
    }
    .sub-menu.images {
        left: -135px;
        min-width: 500px;
        padding: 15px 15px 5px;
    }

    .featured__item {
        min-height: 325px;
        box-shadow: 0px 0px 25px -14px rgb(10 93 130);
        margin-bottom: 20px;
        border-radius: 12px;
        padding: 0px 5px;
    }
    .featured__item-btn {
        bottom: 8px;
    }
    .featured__item-btn li {
        margin: 0 10px;
    }
    .featured__item-btn .circle {
        width: 40px;
        height: 40px;
        box-shadow: 0px 4px 9px -5px rgb(12 81 112 / 70%);
    }
}

@media only screen and (max-width: 426px) {
    .main-menu {
        display: none;
    }
    .sms-default {
        margin: 0 0 15px 0;
        display: block;
    }
    .featured__top {
        padding-bottom: 20px;
    }
    .nav-featured {
        top: -84px
    }
    .text-a-r {
        text-align: inherit;
    }
    .sign-registr {
        margin: 0;
        padding: 0;
        font-size: 15px;
    }
    .gift,
    .sms-default {
        font-size: 15px;
    }
    .sms-default .fa-microphone {
        padding-right: 10px;
    }
    .header__logo {
        display: none;
    }
    .featured__item {
        min-height: 280px;
    }
    .featured__item-bottom {
        align-items: baseline;
    }
    .rating {
        padding-bottom: 20px;
    }
    .price {
        width: 100%;
    }
}


@media only screen and (min-width: 320px) and (max-width: 425px){
    .featured__item {
        min-height: 433px;
    }
}
@media only screen and (max-width: 320px) {
    .featured__item {
        min-height: 380px;
    }
}